@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom glow element utility */
.radial-glow {
  background: radial-gradient(circle 400px at var(--x, 0px) var(--y, 0px), rgba(20, 184, 166, 0.15), transparent 80%);
}